<!--html file for the root component-->

<header>
  <h1 class = "title">Fantasy Stock Market</h1>
</header>
<div id ="homepage">
  <ul>
    <p>This game allows you and your friends to form a fantasy stock market game.</p>
  </ul>

  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <p></p>
    <a routerLink="/league-view" routerLinkActive="active">League View</a>
    <p></p>
    <a routerLink="/player-view" routerLinkActive="active">Player View</a>
    <p></p>
    <a routerLink="/buy-sell-view" routerLinkActive="active">Buy Sell View</a>
  </nav>
</div>
  

<section id= "main">
  <!-- <app-home [player] = "player" (onYell) = "yell($event)" >Hi</app-home> -->
  <router-outlet></router-outlet>
</section>
