<!--html file for the root component-->

<header>
  <h1>{{title}}</h1>
  <ul>
    <p>This is a description of our site and game.</p>
  </ul>
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <p></p>
    <a routerLink="/league-view" routerLinkActive="active">League View</a>
    <p></p>
    <a routerLink="/player-view" routerLinkActive="active">Player View</a>
    <p></p>
    <a routerLink="/buy-sell-view" routerLinkActive="active">Buy Sell View</a>
  </nav>
</header>

<section id= "main">
  <!-- <app-home [player] = "player" (onYell) = "yell($event)" >Hi</app-home> -->
  <router-outlet></router-outlet>
</section>
