<league-form [hidden] = "isInLeague"></league-form>

<div class="container" [hidden] = "isInLeague">
  <div>
  </div>
  <h2 class = "join">Join League</h2>
  <form>
  <div class="form-group">
    <input type="text" class="form-control" id="leaguename"
    required
    [(ngModel)]="model.leaguename" name="leaguename"
    #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
    class="alert alert-danger">
    League Name is required
    </div>
  </div>
  <button class="btn btn-success"
  (click) = 'joinLeague(model.leaguename)'>Join League</button>
</form>
</div>

<h2 class="container">League Name: {{ leaguename }}</h2>
<h3 class="container">Date of Start: {{ startDate }}</h3>

<div class="container">
  <h3>Net worth of players in Your League:</h3>
    <ul id="player-listing">
      <li *ngFor="let player of players">
        <div class="single-player">
          <!-- Player Name -->
          <h3>{{ player.username }}: $100000</h3>
        </div>
      </li>
    </ul>
</div>
